<div class="container">
  <div class="collapse" id="navbarToggleExternalContent">
    <ul class="nav navbar-nav bg-inverse p-4">
          <li><a href="#">Perfil</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Sobre el autor</a></li>
          <li><a href="#">Cerrar sesión</a></li>
        </ul>
  </div>  
  <nav class="navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="text-success font-weight-bold font-italic d-inline-block mx-auto">iSPORTS</h1>
  </nav>
</div>