<br>

<div class="card">

    <h1 class="card-title">Editar post</h1>

    <%= render 'form', post: @post, submit_text: "Editar post" %>

</div>    

<br>
        
<%= link_to 'Atrás', @post, class: "btn btn-#{@category ? @category.split.join : "dark"}" %> 
<%= link_to 'Inicio', posts_path, class: "btn btn-dark"   %>

<p></p>
