<br>

<div class="card">

    <h1 class="card-title">Nuevo post</h1>

    <%= render 'form', post: @post, submit_text: "Crear post" %>

</div>    

<br>

<%= link_to 'Inicio', posts_path, class: "btn btn-dark"   %>

