/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
.width_total {
    width: 100%;
}

.social_icons {
    margin: 10px;
}

.categories_navbar {
    margin-left: 20px;
    margin-right: 20px;
}

.p_create {
    //Texto <p> a misma altura que <button>
    margin-bottom: 0px;
    padding-top: 8px;
}

.bottom-align-text {
    //Para ajustar el texto abajo a la derecha
    position: absolute;
    bottom: 0;
    //right: 0;
    width: 97%;
}

.bottom-align-text-card {
    //Para ajustar el texto abajo a la derecha
    position: absolute;
    bottom: 0;
    //right: 0;
    width: 90%;
}

.title-option {
    width: 90px;
}

.input-option {
    width: 400px;
}