//Text style for categories sport
.txt-futbol {
    color: #28a745;
}

.txt-baloncesto {
    color: #893e39;
}

.txt-tenis {
    color: #f7c400;
}

.txt-motor {
    color: #7a7875;
}

.txt-otrosdeportes {
    color: #004d8c;
}

// Buttons style for categories sport
.btn-futbol {
    color: white;
    background-color: #28a745;
}

.btn-futbol:hover {
    color: white;
    background-color: #288c45;
}

.btn-baloncesto {
    color: white;
    background-color: #893e39;
}

.btn-baloncesto:hover {
    color: white;
    background-color: #733e39;
}

.btn-tenis {
    color: white;
    background-color: #f7c400;
}

.btn-tenis:hover {
    color: white;
    background-color: #f7b500;
}

.btn-motor {
    color: white;
    background-color: #7a7875;
}

.btn-motor:hover {
    color: white;
    background-color: #6b6967;
}

.btn-otrosdeportes {
    color: white;
    background-color: #004d8c;
}

.btn-otrosdeportes:hover {
    color: white;
    background-color: #003d74;
}

// Navbar style for categories sport
.bg-futbol {
    color: white;
    background-color: #28a745;
}

.bg-baloncesto {
    color: white;
    background-color: #893e39;
}

.bg-tenis {
    color: black;
    background-color: #f7c400
}

.bg-motor {
    color: white;
    background-color: #7a7875;
}

.bg-otrosdeportes {
    color: white;
    background-color: #004d8c;
}